{% load i18n sizeformat %}

<div id="wrapper">
   	<div id="content1">
    	<div id="resource_container">
    		<div id="info_box"></div>
            <div id="info_box1"></div>
    		<!--<div id="stack_box"></div>-->
    		<div id="heat_resource_topology"></div>
    		<div id="stack_id" data-stack_id="{{ stack_id }}"></div>
    		<div id="d3_data" data-d3_data="{{ d3_data }}"></div>
		</div>
	</div>
<!--<div id="content2">
    	Shrikant
	</div>-->
	<div id="content3">
    	<img src="/static/dashboard/img/server-green.svg" width="100px" height="100px" onclick="javascript:foo(1)"/>
        <img src="/static/dashboard/img/lb-green.svg" width="100px" height="100px" onclick="javascript:foo(2)"/>
        <img src="/static/dashboard/img/db-green.svg" width="100px" height="100px" onclick="javascript:foo(3)"/>
        <img src="/static/dashboard/img/stack-green.svg" width="100px" height="100px" onclick="javascript:foo(4)"/>
	</div>
    <p>

    <img src="/static/dashboard/img/submit.png" width="50px" height="50px" onclick="javascript:foo(0)"/>
    <img src="/static/dashboard/img/cancel.png" width="50px" height="50px" onclick="javascript:foo(0)"/>
        
    <!--<a href="" class="btn btn-danger btn-large pull-right ">Cancel</a></p>
    <a href="/project/stacksd/create/0/" class="btn btn-success btn-large pull-right ">Done</a></p>
    -->
</div>